<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CarPartsEntities" connectionString="metadata=res://*/PartsShop.csdl|res://*/PartsShop.ssdl|res://*/PartsShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CarParts;user id=sa;password=1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>