@{
    ViewBag.Title = "Reg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ProMain">
          <div class="ProNav">
              <div>2019年保时捷卡宴全部改装件</div>
              <div>首页 / 所有产品 / 保时捷 / 卡宴 / 全部改装件</div>
          </div>
          <div class="ProArea">
             <div class="ProductArea">
                 <div class="ProImg left">
                     <div class="box">
                         <div class="imgView">
                             <img id="imgViewM" src="img/1.jpg" />
                         </div>
                         <div class="imgtabs">
                             <ul class="tabList">
                                 <li>
                                     <img src="img/2.jpg" /></li>
                                 <li>
                                     <img src="img/3.jpg" /></li>
                                 <li>
                                     <img src="img/4.jpg" /></li>
                                 <li>
                                     <img src="img/5.jpg" /></li>
                                 <li>
                                     <img src="img/6.jpg" /></li>
                                 <li>
                                     <img src="img/7.jpg" /></li>
                                 <li>
                                     <img src="img/8.jpg" /></li>
                                 <li>
                                     <img src="img/9.jpg" /></li>
                                 <li>
                                     <img src="img/10.jpg" /></li>


                             </ul>
                             <div style="clear: both;"></div>
                             <div class="PreNext preBtn">
                                 <button id="perimg" type="button" class="btn"><span class="glyphicon glyphicon-chevron-left"></span></button>
                             </div>
                             <div class="PreNext nextBtn">
                                 <button id="nextimg" type="button" class="btn"><span class="glyphicon glyphicon-chevron-right"></span></button>
                             </div>
                             <div style="clear: both;"></div>
                         </div>
                     </div>
                 </div>
                
                 <div class="ProDecibe left">
                     <h3 class="proName">AIRAID@@,进气系统</h3>
                     <div class="proPrice">￥3200.00</div>
                     <div class="proDecribe">2015年福特野马，冷空气大坝进气系统与红synthaFlow空气滤清器和吸气管ARDFAGA.冷空气大坝进气位置360度 ARI空气滤清器和另一个巨大的进气口在上面位置，但是包含在</div>
                     <div class="proTools">

                        <div class="form-group" style="padding-bottom:0px">                           
                                  <button class="btn">-</button>
                                 <input type="text" style="width:50px; text-align:center; display:inline" class="form-control" value="1" />
                                  <button class="btn">+</button>
                         <button type="button" style="margin-left:20px" class="btn btn-danger"><span class="glyphicon glyphicon-shopping-cart"></span>加入购物车</button>
                            </div>
                        

                     </div>
                       
                 </div>
             </div>
              <div class="clear"></div> 
               <div class="ProTitle">
                   <div class="prodeatil">
                
                 <div class="pdNav">产品详情</div>
                       <div class="proContent">

                            <p> 一路占据着紧凑车型的销量榜首，虽然最近的销量有所回落，但可以预计的是很多潜在的消费者都等候着他的到来，
                          </p>它就是长安福特全新福克斯。在本届的上海车展上，全新福克斯正式发布，<br />我们必定为大家及时推出实拍解析，<br />全方位解读这款新车，<br />除了外观最大的“马丁”脸改动之外，内饰的细节、配置都进行升级，动力更是引入1.0T和1.5T两款引擎。
                      福特旗下合资企业长安福特销量强劲，<br />上月长安福特共销售汽车74820辆，<br />同比增长15%。
       但福特的商用车合资企业江<br />铃汽车的销量同比下跌了11%，仅为19070辆，公司生产<br />的卡车和厢式车需求疲弱。
       10月福特品牌的越野车和SUV<br />需求保持强劲，翼虎、翼博和探索者<br />SUV的销量同比增长15%。本月福特还向中国进口了1295辆汽车。
       福特没有公布10月销<br />量中各车型的具体数字。
       今年前10个月，福特汽车及其两家合资企<br />业的总销量为884073辆，与上年基本持平。

                       </div>
                 <div class="clear">
                 </div>
                       </div>
                    <div class="prodeatil">
                
                 <div class="pdNav">关于RADIO@@</div>
                       <div class="BrandContent">
                           <img src="img/brand.jpg"/>
                           <br /><br />
                            <p> 一路占据着紧凑车型的销量榜首，虽然最近的销量有所回落，但可以预计的是很多潜在的消费者都等候着他的到来，
                          </p>它就是长安福特全新福克斯。在本届的上海车展上，全新福克斯正式发布，<br />我们必定为大家及时推出实拍解析，<br />全方位解读这款新车，<br />除了外观最大的“马丁”脸改动之外，内饰的细节、配置都进行升级，动力更是引入1.0T和1.5T两款引擎。
                      福特旗下合资企业长安福特销量强劲，<br />上月长安福特共销售汽车74820辆，<br />同比增长15%。
       但福特的商用车合资企业江<br />铃汽车的销量同比下跌了11%，仅为19070辆，公司生产<br />的卡车和厢式车需求疲弱。
       10月福特品牌的越野车和SUV<br />需求保持强劲，翼虎、翼博和探索者<br />SUV的销量同比增长15%。本月福特还向中国进口了1295辆汽车。
       福特没有公布10月销<br />量中各车型的具体数字。
       今年前10个月，福特汽车及其两家合资企<br />业的总销量为884073辆，与上年基本持平。

                       </div>
                 <div class="clear">
                 </div>
                       </div>
             </div>

          </div>    
          </div>

@section scripts{
    
     <script src="tools/imgMove/js/startMove.js" type="text/javascript"></script>
      $(".btn-div").hover(function () {
            $(this).animate({  padding:"0" }, 150);
        }, function () { $(this).animate({ padding: "2" }, 100); })

    }
