@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?8nw53k');
    src:    url('fonts/icomoon.eot?8nw53k#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?8nw53k') format('truetype'),
        url('fonts/icomoon.woff?8nw53k') format('woff'),
        url('fonts/icomoon.svg?8nw53k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
    content: "\e910";
}
.icon-waishi:before {
    content: "\e900";
}
.icon-xingneng:before {
    content: "\e901";
}
.icon-zhaoming:before {
    content: "\e902";
}
.icon-cheshen:before {
    content: "\e903";
}
.icon-user:before {
    content: "\e904";
}
.icon-login:before {
    content: "\e905";
}
.icon-neishi:before {
    content: "\e906";
}
.icon-gongju:before {
    content: "\e907";
}
.icon-a-r:before {
    content: "\e908";
}
.icon-chelun:before {
    content: "\e909";
}
.icon-p-d:before {
    content: "\e90a";
}
.icon-a-t:before {
    content: "\e90b";
}
.icon-weixin:before {
    content: "\e90c";
}
.icon-yinpin:before {
    content: "\e90d";
}
.icon-xz:before {
    content: "\e90e";
}
.icon-zhifubao:before {
    content: "\e90f";
}
/* CSS Document */
*{outline:none;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,form,th,td{margin:0;padding:0}
body,button,input,select,textarea{font:.8rem Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;color:#333;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
address,cite,dfn,em,var,i{font-style:normal}
code,kbd,pre,samp,tt{font-family:"Courier New",Courier,monospace}
ul,ol{list-style:none}
a{text-decoration:none; color:#444}
a:hover{color:#ff7300}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help}
q:before,q:after{content:''}
legend{color:#444}
fieldset,img{border:none}
button,input,select,textarea{font-size:100%;outline:none;}
body{background:#fff;}
