<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <!-- 上传大小-->
      <httpRuntime requestValidationMode="2.0" maxRequestLength="102400" />
      <!-- 经典模式-->
      <httpHandlers>
        <add  verb="GET" path="*.jpg,*.jpeg,*.gif,*.png,*.bmp" type="Goooooon.Handler.PictureHttpHandler"/>
      </httpHandlers>
    </system.web>
  <!--集成模式-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!--图片防盗链-->
      <add  name="ImgHandler0" verb="*" path="*.jpg" type="myHandlers.ImgHandler" preCondition="integratedMode"/>
      <add  name="ImgHandler1" verb="*" path="*.jpeg" type="myHandlers.ImgHandler" preCondition="integratedMode"/>
      <add  name="ImgHandler2" verb="*" path="*.gif" type="myHandlers.ImgHandler" preCondition="integratedMode"/>
      <add  name="ImgHandler3" verb="*" path="*.png" type="myHandlers.ImgHandler" preCondition="integratedMode"/>
      <add  name="ImgHandler4" verb="*" path="*.bmp" type="myHandlers.ImgHandler" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <!--集成模式-->
  <appSettings>
    <!--防盗链域名-->
    <add key="imgHandlerDomain" value="feeling3d.com" />
    <!--上传域名-->
    <add key="upDomain" value="feeling3d.com" />
  </appSettings>
</configuration>
